@font-face {
    font-family: "Minecraftia";
    src: url("../fonts/Minecraftia.ttf");
}

@font-face {
    font-family: "Minecrafter";
    src: url("../fonts/Minecrafter.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Minecraftia", sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/background.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;

    filter: blur(5px);
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);

    transition: all 2s linear;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition: all 2s linear;
}

#panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5rem;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.play-btn {
    background-color: green;
    border-top: rgb(38, 196, 38) 5px solid;
    text-decoration: none;
    text-align: center;
    font-family: "Minecrafter";
    font-size: 2rem;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    color: white;
    width: 100%;
}

h1 {
    font-family: "Minecrafter";
    text-shadow: green 0 0 10px;
    font-size: 6rem;
    text-align: center;
}

a.mc-button {
    background-color: green;
    border-top: rgb(38, 196, 38) 5px solid;
    text-decoration: none;
    font-family: "Minecrafter";
    font-size: 3rem;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}

a.mc-button:visited {
    color: white;
}

a.mc-button:hover {
    background-color: rgb(1, 54, 1);
    border-top: green 5px solid;
}
